# Weak rate limit for SIGN.PLUS email verification

## Report Details
- **Report ID**: 1584569
- **URL**: https://hackerone.com/reports/1584569
- **State**: Closed
- **Severity**: low
- **Submitted**: 2022-05-29T07:29:25.667Z
- **Disclosed**: 2022-06-21T22:53:32.370Z

## Reporter
- **Username**: zeesozee
- **Name**: N/A

## Team
- **Name**: N/A
- **Handle**: alohi

## Vulnerability Information


## Attachments
No attachments
