# Bypassing creation of  API tokens without email verification

## Report Details
- **Report ID**: 1812705
- **URL**: https://hackerone.com/reports/1812705
- **State**: Closed
- **Severity**: low
- **Submitted**: 2022-12-20T15:14:30.589Z
- **Disclosed**: 2023-03-27T12:39:34.704Z

## Reporter
- **Username**: boy_child_
- **Name**: N/A

## Team
- **Name**: N/A
- **Handle**: cloudflare

## Vulnerability Information


## Attachments
No attachments
