# Authentication Bypass on TikTok Seller Signup Process Allows Account Creation Without Phone Verification

## Report Details
- **Report ID**: 2286745
- **URL**: https://hackerone.com/reports/2286745
- **State**: Closed
- **Severity**: low
- **Submitted**: 2023-12-14T18:47:52.989Z
- **Disclosed**: 2024-07-03T23:11:14.382Z

## Reporter
- **Username**: zhyar_11011
- **Name**: N/A

## Team
- **Name**: N/A
- **Handle**: tiktok

## Vulnerability Information


## Attachments
No attachments
