# Invalid Email Verification

## Report Details
- **Report ID**: 260492
- **URL**: https://hackerone.com/reports/260492
- **State**: Closed
- **Severity**: low
- **Submitted**: 2017-08-15T20:27:34.102Z
- **Disclosed**: 2017-08-28T18:34:17.383Z

## Reporter
- **Username**: pr4th4m
- **Name**: N/A

## Team
- **Name**: N/A
- **Handle**: legalrobot

## Vulnerability Information
URL: https://app.legalrobot.com/sign-in
Email verification is not proper in register page. for ex. john.smith@example.org this is the valid format but john*smith@example.org is also acceptable during registration.

Thanks and regards,
Prathamesh 

## Attachments
No attachments
