# No Email Verification

## Report Details
- **Report ID**: 285153
- **URL**: https://hackerone.com/reports/285153
- **State**: Closed
- **Severity**: medium
- **Submitted**: 2017-11-01T11:16:50.956Z
- **Disclosed**: 2017-11-03T14:13:32.647Z

## Reporter
- **Username**: asad_anwar
- **Name**: N/A

## Team
- **Name**: N/A
- **Handle**: infogram

## Vulnerability Information
There should be an email verification when creating a new user. B/c i can make an account from others email address 
for example:
az****@gmail.com

Now when the real person, how own this email address cant make an account with his email address. 

## Attachments
No attachments
