# Users email can be changed without verification

## Report Details
- **Report ID**: 302731
- **URL**: https://hackerone.com/reports/302731
- **State**: Closed
- **Severity**: N/A
- **Submitted**: 2018-01-05T17:30:35.700Z
- **Disclosed**: 2018-04-27T00:13:08.700Z

## Reporter
- **Username**: tolo7010
- **Name**: N/A

## Team
- **Name**: N/A
- **Handle**: mavenlink

## Vulnerability Information


## Attachments
No attachments
