# test report

## Report Details
- **Report ID**: 395531
- **URL**: https://hackerone.com/reports/395531
- **State**: Closed
- **Severity**: medium
- **Submitted**: 2018-08-15T16:11:26.181Z
- **Disclosed**: 2018-08-15T16:18:51.772Z

## Reporter
- **Username**: rkhunter
- **Name**: N/A

## Team
- **Name**: N/A
- **Handle**: kaspersky

## Vulnerability Information


## Attachments
No attachments
