# Rate Limit workaround in the message of the phone number verification 

## Report Details
- **Report ID**: 619578
- **URL**: https://hackerone.com/reports/619578
- **State**: Closed
- **Severity**: medium
- **Submitted**: 2019-06-19T05:57:58.933Z
- **Disclosed**: 2019-07-26T13:50:44.187Z

## Reporter
- **Username**: dr_akm
- **Name**: N/A

## Team
- **Name**: N/A
- **Handle**: unikrn

## Vulnerability Information


## Attachments
No attachments
